html {
    background-color: black;
    background: linear-gradient(to right, black , silver);
  }

#mainBody {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

table {
  margin: 1em auto;
}

#app {
  margin: 3em auto;
  border: 1px solid black;
  width: 30%;
  background-color: white;
}

input {
  padding: 0.2em;
  margin: 0.3em;
}

button {
  margin: 0.3em;
  background-color: gold;
  border-radius: 25px;
  border: 1px solid black;
}

th {
  border-bottom: 1px solid grey;
}